/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# - Root
# - Paragraph
--------------------------------------------------------------*/

/*-------------------------------------------------------------
# - Root
---------------------------------------------------------------*/

.wp-site-blocks {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    footer {
        margin-top: auto;
    }
}

/*---------------------------------------------------------------
# - Paragraph
----------------------------------------------------------------*/

.entry-content {

    p {
        word-spacing: calc(1rem * 0.16);
    }
}

.wp-block-post-excerpt {

    p {
        word-spacing: calc(1rem * 0.16);
    }
}